/*<hunk name="hide tools">*/
	.menu_item[page="tools"],.navigation_anchor[href="/tools"]{
		display:none;
	}
/*</hunk>*/

/*<hunk name="code_highlight">*/
	.string { color: green; }
	.number { color: #D90; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: #CC0000; }
	.error{ color: #F00; font-weight:bold;}
/*</hunk>*/

/*<hunk name="Home">*/
	.home_icons{
		display:inline-block;vertical-align: baseline;
		font-size:1.5em;
		width:1.5em;
	}
	.pre_line{
		white-space: pre-line; margin-left:1em;
	}
/*</hunk>*/

/*<hunk name="Documentation">*/
	.documentation_nav{
		position: sticky;
		top: 0;
		height: 95vh;
		padding-bottom: 5em;
		box-sizing: border-box;
		overflow-y: auto;
		display:inline-block; vertical-align: top;
		background-color: rgba(__bg0_rgb__,.7);
		text-align:left;
		border: 1px solid rgba(__fg0_rgb__,.2);
	}
	.documentation_nav_header{
		padding: 0.5em;
		margin: 0;
		border-bottom: 1px solid __bg5__;
	}
	
	.path_nav_header{
		display:block;
		padding:.25em;
		margin: .25em 0;
		border-bottom: 1px dotted __bg5__;
	}
	.documentation_content{
		display:inline-block; vertical-align: top;
		text-align:left;
		border: 1px solid rgba(__fg0_rgb__,.2);
	}
	
	.documentation{
		position: relative;
		margin:1em;
		text-align:center;
	}
	.api_path{
		position:relative;
		max-width:60em;
		max-height:6.5em;
		margin:0 auto;
		word-wrap: break-word;
		overflow:hidden;
		background-color: rgba(__bg0_rgb__,.7);
		
		transition: max-height __transition__;
		transform: translate3d(0, 0, 0);
	}
	.api_path.open{
		max-height:1000em;
	}
	.api_path>.api_path_overlay{
		position:absolute; top:0; right:0; bottom:0; left: 0;
		z-index:2;
		background: linear-gradient(to bottom,
			rgba(__bg0_rgb__,0) 0%,
			rgba(__bg0_rgb__,.3) 30%,
			rgba(__bg0_rgb__,.7) 60%,
			rgba(__bg0_rgb__,1) 100%
		);
	}
	.api_path.open>.api_path_overlay{
		display:none;
	}
	@media all and (max-width: 1245px){
		.documentation_nav{
			font-size:1.25em;
			padding:2em 1em;
			display:block;
			margin:0 auto;
			z-index:3;
			height:10vh;
			background: __bg0__;
		}
		.documentation_content{
			display:block;
			margin:0 auto;
		}
		.api_path{
			max-width: 1000em;
		}
	}
	@media print{
		.documentation_nav{
			display:none;
		}
		.api_path, .documentation_nav{
			display:none;
		}
		.api_path.open{
			display:block;
		}
	}
	
	.api_parameters{
		padding:1em;
		border: 1px solid __bg1__;
		background-size: .25em .25em;
		background-position: center;
		background-image: radial-gradient(circle, __bg5__ 0px, rgba(0, 0, 0, 0) 1px);
	}
	.api_path_header{
		margin: .5em auto 0 auto;
		padding: .5em .5em .5em .5em;
	}
	.api_parameters_header{
		margin: .5em auto;
		padding: 0em;
	}
	.api_parameter{
		padding:1em;
	}
	.api_parameter_header{
		margin-bottom:.5em;
	}
	.api_parameter:nth-of-type(odd){
		background-color:__bg1__;
	}
	.api_parameter:nth-of-type(even){
		background-color:__bg2__;
	}
	
	.api_response{
		padding:1em;
		border: 1px solid __bg1__;
		background-color: rgba(__bg0_rgb__,.7);
		background-size: 1em 1em;
		background-position: center;
		background-image:
			linear-gradient(to right, __bg2__ 1px, transparent 1px),
			linear-gradient(to bottom, __bg2__ 1px, transparent 1px);
	}
	.api_response_header{
		margin: .5em auto;
	}
	.api_response_property{
		padding:1em;
	}
	.api_property_header{
		margin-bottom:.5em;
	}
	.api_response_property:nth-of-type(odd){
		background-color:__bg4__;
	}
	.api_response_property:nth-of-type(even){
		background-color:__bg5__;
	}
/*</hunk>*/


/*<hunk name="Examples">*/
	.keysetUI{
		border: 1px dashed __bg5__;
		padding: 0.5em;
	}
	.example_nav{
		display:inline-block;
		min-width: 20em;max-width: 20em;
		margin: 1em auto;
		background-color: __bg1__;
		text-align:left;
	}
	.example_nav_header{
		padding: 0.5em;
		margin: 0;
		border-bottom: 1px solid __bg5__;
	}
	.example_nav_item{
		display:block;
		padding:.25em;
		margin: .25em 0;
		border-bottom: 1px dotted __bg5__;
	}
	.example_section{
		position:relative;
		max-height:6.5em;
		margin:.5em auto;
		word-wrap: break-word;
		overflow:hidden;
		
		transition: max-height __transition__;
		transform: translate3d(0, 0, 0);
		
		padding:1em;
		border: 1px solid __bg1__;
		background-color: rgba(__bg0_rgb__,.7);
		background-size: 1em 1em;
		background-position: center;
		background-image:
			linear-gradient(to right, __bg2__ 1px, transparent 1px),
			linear-gradient(to bottom, __bg2__ 1px, transparent 1px);
	}
	.example_section.open{
		/*max-height:90vh;*/
		max-height:2000em;
		overflow:auto
	}
	.example_section>.example_overlay{
		position:absolute; top:0; right:0; bottom:0; left: 0;
		z-index:2;
		background: linear-gradient(to bottom,
			rgba(__bg0_rgb__,0) 0%,
			rgba(__bg0_rgb__,.3) 30%,
			rgba(__bg0_rgb__,.7) 60%,
			rgba(__bg0_rgb__,1) 100%
		);
	}
	.example_section.open>.example_overlay{
		display:none;
	}
	.example_header{
		margin: .5em auto 0 auto;
		padding: .5em .5em .5em 0em;
	}
	.example_code{
		background-color: __bg0__;
		padding:.5em;
		margin-bottom:3em;
	}
	.run{
		margin: 0 1em;
		color: __fg1__;
		background: __bg0__;
	}
	body{
		tab-size:4;
	}
	code{
		display:block;
		margin-left:1em;
		border:1px dashed __fg1__;
		padding: .25em;
		transition: max-height 1s;
		white-space:pre-wrap;
	}
/*</hunk>*/