.color_change_dark{display:none;}
.color_change_light{display:block;}
.color_change_dark, .color_change_light{
	position:absolute; top:0; right:0; bottom:0;
	vertical-align:center;
	font-size:2em;
	filter: grayscale(100%);
	cursor:pointer;
}
@media print{
	body{
		overflow: visible;
		
	}
	#page_container{
		position:relative;
	}
	.menu{
		display:none;
	}
	*{
		background: none !important;
		color: #000 !important;
	}
}



.menu_item{
	border-right: 1px dotted __menu-fg1__;
}
.menu_icon{
	border:0;
}
.menu_icon>span{
	font-size:2em;
	filter: grayscale(100%);
	color: __accent_color__;
	/*text-shadow: 1px 1px 0px __accent_color__;*/
}

/*<hunk name="code_highlight">*/
.string { color: green; }
.number { color: #D90; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: #CC0000; }
.error{ color: #F00; font-weight:bold;}
/*</hunk>*/

/*<hunk name="Home">*/
.home{
	max-width: 70em;
	margin:1em auto;
	
	padding:1em;
	border: 1px solid __bg5__;
	
	background-color: rgba(__bg0_rgb__,.7);
	background-size: .25em .25em;
	background-position: center;
	background-image: radial-gradient(circle, __bg5__ 0px, rgba(0, 0, 0, 0) 1px);
}
.home_icons{
	display:inline-block;vertical-align: baseline;
	font-size:1.5em;
	width:1.5em;
}
.pre_line{
	white-space: pre-line;
}
/*</hunk>*/

/*<hunk name="Documentation">*/
	.documentation_nav{
		display:inline-block; vertical-align: top;
		background-color: rgba(__bg0_rgb__,.7);
		text-align:left;
		border: 1px solid rgba(__fg0_rgb__,.2);
	}
	.documentation_nav_header{
		padding: 0.5em;
		margin: 0;
		border-bottom: 1px solid __bg5__;
	}
	
	.path_nav_header{
		display:block;
		padding:.25em;
		margin: .25em 0;
		border-bottom: 1px dotted __bg5__;
	}
	.documentation_content{
		display:inline-block; vertical-align: top;
		text-align:left;
		border: 1px solid rgba(__fg0_rgb__,.2);
	}
	
	.documentation{
		margin:1em;
		text-align:center;
	}
	.api_path{
		position:relative;
		max-width:60em;
		max-height:6.5em;
		margin:0 auto;
		word-wrap: break-word;
		overflow:hidden;
		background-color: rgba(__bg0_rgb__,.7);
		
		transition: max-height __transition__;
		transform: translate3d(0, 0, 0);
	}
	.api_path.open{
		max-height:1000em;
	}
	.api_path>.api_path_overlay{
		position:absolute; top:0; right:0; bottom:0; left: 0;
		z-index:2;
		background: linear-gradient(to bottom,
			rgb(0 0 0 / 0%) 0%,
			rgb(0 0 0 / 30%) 30%,
			rgba(0,0,0,.5) 60%,
			rgba(__secondary_color_rgb__,.6) 100%
		);
	}
	.api_path.open>.api_path_overlay{
		display:none;
	}
	@media all and (max-width: 1245px){
		.documentation_nav{
			font-size:1.25em;
			padding:2em 1em;
			display:block;
			margin:0 auto;
		}
		.documentation_content{
			display:block;
			margin:0 auto;
		}
		.api_path{
			max-width: 1000em;
		}
	}
	@media print{
		.documentation_nav{
			display:none;
		}
		.api_path, .documentation_nav{
			display:none;
		}
		.api_path.open{
			display:block;
		}
	}
	
	.api_parameters{
		padding:1em;
		border: 1px solid __bg1__;
		background-size: .25em .25em;
		background-position: center;
		background-image: radial-gradient(circle, __bg5__ 0px, rgba(0, 0, 0, 0) 1px);
	}
	.api_path_header{
		margin: .5em auto 0 auto;
		padding: .5em .5em .5em 0em;
	}
	.api_parameters_header{
		margin: .5em auto;
		padding: 0em;
	}
	.api_parameter{
		padding:1em;
	}
	.api_parameter_header{
		margin-bottom:.5em;
	}
	.api_parameter:nth-of-type(odd){
		background-color:__bg1__;
	}
	.api_parameter:nth-of-type(even){
		background-color:__bg2__;
	}
	
	
	
	
	
	.api_response{
		padding:1em;
		border: 1px solid __bg1__;
		background-color: rgba(__bg0_rgb__,.7);
		background-size: 1em 1em;
		background-position: center;
		background-image:
			linear-gradient(to right, __bg2__ 1px, transparent 1px),
			linear-gradient(to bottom, __bg2__ 1px, transparent 1px);
	}
	.api_response_header{
		margin: .5em auto;
	}
	.api_response_property{
		padding:1em;
	}
	.api_property_header{
		margin-bottom:.5em;
	}
	.api_response_property:nth-of-type(odd){
		background-color:__bg4__;
	}
	.api_response_property:nth-of-type(even){
		background-color:__bg5__;
	}
/*</hunk>*/


/*<hunk name="Examples">*/
	.keysetUI{
		border: 1px dashed __bg5__;
		padding: 0.5em;
	}
	.page_examples{
		max-width: 70em;
		margin:1em auto;
		
		padding:1em;
		border: 1px solid __bg5__;
		
		background-color: rgba(__bg0_rgb__,.7);
		background-size: .25em .25em;
		background-position: center;
		background-image: radial-gradient(circle, __bg5__ 0px, rgba(0, 0, 0, 0) 1px);
	}
	.example_nav{
		display:inline-block;
		min-width: 20em;max-width: 20em;
		margin: 1em auto;
		background-color: __bg1__;
		text-align:left;
	}
	.example_nav_header{
		padding: 0.5em;
		margin: 0;
		border-bottom: 1px solid __bg5__;
	}
	.example_nav_item{
		display:block;
		padding:.25em;
		margin: .25em 0;
		border-bottom: 1px dotted __bg5__;
	}
	.example_section{
		position:relative;
		max-height:6.5em;
		margin:.5em auto;
		word-wrap: break-word;
		overflow:hidden;
		
		transition: max-height __transition__;
		transform: translate3d(0, 0, 0);
		
		padding:1em;
		border: 1px solid __bg1__;
		background-color: rgba(__bg0_rgb__,.7);
		background-size: 1em 1em;
		background-position: center;
		background-image:
			linear-gradient(to right, __bg2__ 1px, transparent 1px),
			linear-gradient(to bottom, __bg2__ 1px, transparent 1px);
	}
	.example_section.open{
		max-height:1000em;
	}
	.example_section>.example_overlay{
		position:absolute; top:0; right:0; bottom:0; left: 0;
		z-index:2;
		background: linear-gradient(to bottom,
			rgb(0 0 0 / 0%) 0%,
			rgb(0 0 0 / 30%) 30%,
			rgba(0,0,0,.5) 60%,
			rgba(__secondary_color_rgb__,.6) 100%
		);
	}
	.example_section.open>.example_overlay{
		display:none;
	}
	.example_header{
		margin: .5em auto 0 auto;
		padding: .5em .5em .5em 0em;
	}
	.example_code{
		background-color: __bg0__;
		padding:.5em;
		margin-bottom:3em;
	}
	.run{
		margin: 0 1em;
		color: __fg1__;
		background: __bg0__;
	}
/*</hunk>*/

/*<hunk name="Tools">*/
	.tool_section{
		margin:1em;
	}
/*</hunk>*/
p{
	margin:.25em;
}
body{
	tab-size:4;
}
code{
	display:block;
	margin-left:1em;
	border:1px dashed __fg1__;
	padding: .25em;
	transition: max-height 1s;
	white-space:pre-wrap;
}
.closed{ max-height:1em; overflow: hidden; }
.closed:before{ display:block; height:1em; line-height:1em; content: 'Click to show example'; }
#currentKeyset{margin:1em;color:#F22;}