/*<hunk name="Theme">*/
	/*~primary_color=#1A1353~*/
	/*~primary_color_rgb=26,19,83~*/
	/*~secondary_color=#00aecf~*/
	/*~secondary_color_rgb=0,174,207~*/
	/*~accent_color=#66c4ab~*/
	/*~accent_color_rgb=102,196,171~*/
	/*~title-fg  =#FFFFFF~*/
	/*~title-bg  =#333366~*/
	
	/*~fg0       =#FFFFFF~*//*main text*/
	/*~fg0_rgb   =255,255,255~*//*main text*/
	/*~fg1       =#DDDDDD~*//*item text*/
	/*~fg2       =#AAAAAA~*//*item sub-text*/
	/*~fg3       =#242440~*//*input border*/
	/*~fg4       =#EEEEEE~*//*button text*/
	
	/*~bg0       =#000000~*//*Root background color*/
	/*~bg0_rgb   =0,0,0~*/
	/*~bg1       =#101010~*//*Doc filters odd, borders*/
	/*~bg2       =#202020~*//*Doc filters even*/
	/*~bg3       =#12120E~*/
	/*~bg4       =#252525~*//*Doc params odd*/
	/*~bg5       =#353535~*//*Doc params even*/
	
	/*~menu-fg1  =#999999~*/
	/*~menu-fg2  =#929292~*/
	/*~menu-bg   =#000000~*/
	
	/*~red_button=#FC3E39~*/
	/*~overlay   =rgba(0,0,0,0.3)~*/
	/*~error     =#FF0000~*/
	/*~transition-time = 400ms~*/
	/*~transition=__transition-time__ cubic-bezier(0.4, 0.0, 0.2, 1)~*/
/*</hunk>*/
/* from fieldroutes.com
--primary: #1A1353;
--primaryAlt: #1A1353;
--secondary: #00aecf;
--secondaryAlt: #00aecf;
--accent: #66c4ab;
--accentAlt: #38b790;
--link: #1A1353;
*/

/*<hunk name="Common_page_styles">*/
	.page, .page_stale{
		box-shadow: 
			1px  0 0 0 #000,
			-1px 0 0 0 #000;
		background:
			linear-gradient(to bottom right,  rgb(__primary_color_rgb__,.9) 0%, rgb(__secondary_color_rgb__,.9) 100%),
			url(../resources/leaf-white.svg) left bottom / auto 100% no-repeat;
		background-blend-mode: difference;
		height:100%; overflow:auto;
		
	}
	.page_section{
		max-width: 70em;
		margin:1em auto;
		
		padding:1em;
		border: 1px solid __bg5__;
		
		background-color: rgba(__bg0_rgb__,.7);
		background-size: .25em .25em;
		background-position: center;
		background-image: radial-gradient(circle, __bg5__ 0px, rgba(0, 0, 0, 0) 1px);
	}
/*</hunk>*/

/*<hunk name="General">*/
	body{
		font-size: 1em;
		font-family: "Arial";
		margin:0; padding:0;
		color:__fg0__;
		background-color: __bg0__;
		overflow: hidden;
	}
	a{
		color:inherit;
		cursor:pointer;
		text-decoration: none;
	}
	p{
		margin:.25em;
	}
	#page_container{ 
		position:absolute; top: 0; right:0; bottom:__menu-height__; left:0;
		overflow-x:hidden;
		overflow-y:auto;
	}
	h1,h2,h3,h4{
		color: __secondary_color__;
		text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	}
	.color_change_dark{display:none;}
	.color_change_light{display:block;}
	.color_change_dark, .color_change_light{
		position:absolute; top:0; right:0; bottom:0;
		vertical-align:center;
		font-size:2em;
		filter: grayscale(100%);
		cursor:pointer;
	}
	@media print{
		body{
			overflow: visible;
			
		}
		#page_container{
			position:relative;
		}
		.menu{
			display:none !important;
		}
		*{
			background: none !important;
			color: #000 !important;
		}
	}
/*</hunk>*/

/*<hunk name="Scrollbar">*/
	::-webkit-scrollbar {
		height: .25em;
		width: .5em;
	}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 .375em rgba(100,100,100,.3);
		border-radius: .625em;
	}
	::-webkit-scrollbar-thumb {
		border-radius: .625em;
		-webkit-box-shadow: inset 0 0 .375em rgba(200,200,200,.7);
		background-color:rgba(0, 0, 0, 0.5);
	}
/*</hunk>*/

/*<hunk name="Menu">*/
	/*~menu-height=3em~*/
	.menu{
		position: absolute; bottom: 0; left: 0; right:0;
		display:flex;flex-flow: row nowrap;
		justify-content: center;
		height:__menu-height__;
		color: __menu-fg1__;
		background-color: __menu-bg__;
		overflow: auto;
	}
	.menu_item{
		font-size:.625em;
		height:100%;
		width:auto;
		min-width:5em;
		display:flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		white-space:nowrap;
		text-align:center;
		border-right: 1px dotted __menu-fg1__;
		padding: 0 .5em;
		background-color: __menu-bg__;
	}
	.menu_item:last-of-type{
		border-right:0;
	}
	.menu_icon{
		height:2.5em; line-height:2.5em;
		width:2.5em;
		margin: 0 auto;
		border: 0;
		border-radius:1em;

		font-weight: bold;
		text-shadow: 1px 1px __bg1__;
	}
	.menu_icon>span{
		font-size:2em;
		filter: grayscale(100%);
		color: __accent_color__;
		/*text-shadow: 1px 1px 0px __accent_color__;*/
	}
/*</hunk>*/

/*<hunk name="input">*/
	/*These items aren't in use except on the hidden login panel*/
	.input_block{
		display:flex; flex-flow: row nowrap;
		justify-content: space-between;
		font-size:.4cm;
		border-bottom:1px solid __fg3__;
	}
	.input_label, .input_guts{
		position:relative;
		display:inline-block;
		width:50%;
		padding: 1em 0 1em 1em;
	}
	.input_label{
		background:__bg2__;
	}
	.input_label_text{
		font-size:1.2em;
		font-weight:400;
	}
	.input_stretch{
		position:absolute; top:0; right:2em; bottom:0; left:0;
	}
	.input_clear{
		position:absolute; top:0; right:0; bottom:0;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		width:2em;
		text-align:center;
		cursor:pointer;
		background:__bg0__;
	}
	.input_whole{
		font-size:1.25em;
		display:block;
		width:100%;
		height:100%;
		padding:.5em;
		box-sizing: border-box;
		border: none;
		outline:none;
		color:__fg0__;
		background:__bg0__;
	}
/*</hunk>*/

/*<hunk name="Login_page">*/
	.login_page, .change_password_page{
		background: __bg4__;
		min-height:100%;
	}
	.login_title{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		text-align:center;
		height: 2.5em;
		padding-top: 1.25em;
		background-color: __title-bg__;
		color: __title-fg__;
	}
	.login_buttons{
		display:flex;flex-flow: row nowrap;
		justify-content: space-around;
		margin-top: 2em;
	}
	.login_button, .logout_button, .change_password_button{
		font-size:1em;
		width:40%;
		height:2em;
		box-sizing: border-box;
		padding:.25em;
		border:0;
		border-radius:.25em;
		text-align: center;
		font-weight: bold;
		color: __fg4__;
	}
	.logout_button{
		background-color:__red_button__;
	}
	.login_button, .change_password_button{
		background-color:__primary_color__;
	}
	.login_status{
		text-align: center;
		padding: .25em;
	}
/*</hunk>*/